.App {
  color: white;
  text-align: center;
  margin: 0;
}

main {
  background: linear-gradient(60deg, #8fbc8b 5%, #00693e 25%, #013f47 60%);
}

main .aboutPage {
  height: 90vh;
}

main .aboutPage .contentPage {
  position: absolute;
  top: 150px;
  right: 200px;
  width: 600px;
  padding: 30px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

main .aboutPage .contentPage h1 {
  font-size: 60px;
}

main .aboutPage .contentPage p {
  font-size: 20px;
}

main .aboutPage #mainImgMan {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

main .moduleBox {
  padding-top: 50px;
}

main .moduleBox h2 {
  font-size: 36px;
}

main .moduleBox div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

main .moduleBox div .module {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  width: 400px;
  padding: 20px;
  height: 250px;
  background: #013f47;
  box-shadow: 10px 10px 5px #01272c;
}

main .moduleBox div .module .icon {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
}

footer {
  color: black;
}
