
.App {
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
}

.aboutPage {
  height: 90vh;
  background: rgb(1, 63, 71);
  background: linear-gradient(45deg, rgba(143,188,139,1) 2%, rgba(0,105,62,1) 15%, rgb(1, 63, 71) 50%);

  .contentPage {
    position: absolute;
    top: 150px;
    right: 200px;
    width: 600px;
    padding: 30px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

    h1 {
      font-size: 60px;
    }

    p{
      font-size: 20px;
    }
  }

  #mainImgMan {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

}

.module {
  height: 100vh;
  padding-top: 50px;
  background: rgb(1, 63, 71);
  background: linear-gradient(135deg, rgba(143,188,139,1) 2%, rgba(0,105,62,1) 15%, rgb(1, 63, 71) 50%);
}


